@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add a Task";
}

@model Tasklist

<h1>Add a Task</h1>

<form method="post">

    <input type="hidden" asp-for="TaskId" />

    <label asp-for="CategoryId">Select a Category:</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br />    
    <label asp-for="TaskName">Task:</label>
    <input asp-for="TaskName" />    
    <br />
    <label asp-for="Quadrant">Quadrant:</label>
    <input asp-for="Quadrant" />
    <br />
    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate"/>
    <br />
    <label asp-for="Completion">Has this Task Been Completed?</label>
    <select asp-for="Completion">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    <button type="submit">Submit Task</button>

    <div asp-validation-summary="All"></div>
</form>